// Setup grid defaults
$layout-margin                : 32 !default; // [in pixels] Space outside the grid
$layout-margin--mid           : 16 !default; // [in pixels] Space outside the grid
$layout-margin--narrow        : 16 !default; // [in pixels] Space outside the grid
$layout-max-width             : 1272 !default; // [in pixels]


$chart-animation-time: 0.75s;

// $breakpoints: map-to-em((
//     tiny       : 375px,
//     narrow     : 414px,    // narrow devices
//     narrowMid  : 600px,    // narrow-mid tweakpoint
//     mid        : 768px,    // mid bp
//     wide       : 1025px,   // wide bp
//     huge       : 1280px    // huge bp
// ), 16); // set to 16 as this is default browser size